@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4"><b>Form parameters parsing demo</b></h1>
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="ManualParsingInSingleAction">Manual parsing in single action</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ManualParsingInSeparateActions">Manual parsing in separate actions</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ModelBindingInParameters">Model binding (parameters)</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>
</ul>